
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	overflow: hidden; /*  Disable scrollbars */
	display: block;  /* No floating content on sides */
	font-family: 'DejaVu Serif';
}

#tools {
    width: 100%;
    height: 56px;
    background-color: #f2ded0;
}

#pen_plate {
    margin-left: 0px;
    margin-right: 0px;
    width: 160px;
    height: 56px;
}

svg.halficon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 26px;
}

.unhighlight {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.quarterbutton {
    width: 22px;
    height: 22px;
    background-color: #fa8e41;
    float: left;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 0px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#sizeinc {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer; cursor: hand;
}

#sizedec {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer; cursor: hand;
}

#sizeinp {
    width: 46px;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 0px;
    text-align: center;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    border-width: 1px;
    font-weight: bold;
    /* background-color: #f2ded0; */
}

.halfbutton {
    width: 22px;
    height: 48px;
    background-color: #fa8e41;
    float: left;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 0px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    cursor: pointer; cursor: hand;
}

.halfbutton:hover {
    /* background-color: #ffbb8b; */
    background-color: #FF6633;
    box-shadow: 0 0 3px #ff6a00;
}

.quarterbutton:hover {
    /* background-color: #ffbb8b; */
    background-color: #FF6633;
    box-shadow: 0 0 3px #ff6a00;
}

.button {
    width: 48px;
    height: 48px;
    background-color: #fa8e41;
    float: left;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 0px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    user-select: none;
}

.button-orange {
    width: 48px;
    height: 48px;
    cursor: pointer; cursor: hand;
    background-color: #FF6689;
    box-shadow: 0 0 3px #ff6a00;
    float: left;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 0px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    user-select: none;
}

.shadow-icon {
    width: 48px;
    height: 48px;
    background-color: #fbc7a0;
    float: right;
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    user-select: none;
}

.shadow-icon > img {
    padding: 2px;
}

.shadow-icon:hover {
    cursor: pointer; cursor: hand;
    /* background-color: #ffbb8b; */
    background-color: #FF6633;
    box-shadow: 0 0 3px #ff6a00;
}


.button-selected {
    width: 48px;
    height: 52px;
    background-color: #ffbb8b;
    /* background-color: #FF6633; */
    float: left;
    margin: 4px;
    margin-left: 4px;
    margin-right: 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    /* cursor: pointer; cursor: hand; */
}

.button:hover {
    cursor: pointer; cursor: hand;
    /* background-color: #ffbb8b; */
    background-color: #FF6633;
    box-shadow: 0 0 3px #ff6a00;
}

.button > img {
    padding: 2px;
}

.button-selected > img {
    padding: 2px;
}

.button-selected:hover {
    cursor: pointer; cursor: hand;
    background-color: #FF6633;
    box-shadow: 0 0 3px #ff6a00;
    /* background-color: #ffbb8b; */
}

.menu {
    position: absolute;
    left: 0px;
    top: 56px;
    /* display: none; */
    visibility: hidden;
    /* width: 240px; */
    /* height: 240px; */
    z-index: 10;
    padding: 0px;
    background-color: #ffbb8b;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#pen_menu {
    width: 160px;
    height: 108px;
}

#color_menu {
    width: 212px;
    height: 212px;
}

#action_menu {
    width: 212px;
    height: 56px;
}

#color_b {
    left: 56;
}

#color_picker {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 10px;
     margin-bottom: 10px; */
    display: block;
    cursor: crosshair;
}

#chat_window {
    position: absolute;
    visibility: hidden;
    background-color: #ffbb8b;
    width: 320px;
    height: 400px;
    z-index: 5;
    padding-top: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

#login_div {
    width: 320px;
    height: 372px;
    top: 32px;
    opacity: 0.8;
    position: absolute;
    background-color: #ffbb8b;
    z-index: 8;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#login_form {
    margin-top: 132px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#login_form > div {
    width: 100%;
    height: 26px;
    margin-bottom: 2px;
    text-align: center;
}

#chat_login {
    height: 24px;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    padding: 0px;
    margin: 0px;
}

.chat_bar {
    box-width: 100%;
    height: 26px;
    margin: 4px;
    margin-top: 0px;
    text-align: left;
    overflow: hidden;
    /* background-color: #f2ded0; */
}

#chat_messages {
    box-width: 100%;
    height: 332px;
    margin: 4px;
    margin-top: 0px;
    padding: 2px;
    z-index: 6;
    background-color: #fbf1ea;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    overflow: auto;
}

#chatinp {
    /* box-width: auto; */
    width: 250px;
    float: left;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    padding-left: 2px;
    margin-left: 0px;
    /* background-color: #f2ded0; */
}

#chatinp:focus {
    outline: 0;
}

#login_button {
    height: 26px;
    width: 100%;
    margin: 0px;
    background-color: #fa8e41;
    border: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

#login_button:hover {
    background-color: #FF6633;
    box-shadow: 0 0 3px #ff6a00;
    cursor: pointer; cursor: hand;
}

.chatbutton {
    height: 26px;
    width: 52px;
    float: right;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0px;
    margin-left: 4px;
    border:none;
    background-color: #fa8e41;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.closebutton {
    height: 26px;
    width: 26px;
    float: right;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0px;
    margin-left: 4px;
    border:none;
    background-color: #fa8e41;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.chatbutton:hover {
    background-color: #FF6633;
    box-shadow: 0 0 3px #ff6a00;
    cursor: pointer; cursor: hand;
}

.closebutton:hover {
    background-color: #FF6633;
    box-shadow: 0 0 3px #ff6a00;
    cursor: pointer; cursor: hand;
}

a.chataux {
    font-style: italic;
}
